*{
    box-sizing: border-box;
    padding: 2%;
    background-color:rgba(240, 240, 208, 0.938);

}

h1 , h2 {
    font-size: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
justify-content: center; 
}
button{
     display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 1%;
    margin-left: 45%;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}